<div class="outerWrapper">
    <header class="header clearfix">
        <div class="wrapper">
            <h1 class="logo"><a href="/">Logo</a></h1>
            <div *ngIf="loggedIn === true">
                <nav class="navbar">
                    <ul>
                        <li><a href="/">Tests</a></li>
                        <li><a href="#">Nav2</a></li>
                        <li><a href="#">Nav3</a></li>
                    </ul>
                </nav>
                <div class="login">
                    <p class="loginElement">Hello {{username}}</p>
                    <button type="button" class="loginElement" (click)="logout()"><a href="/">Logout</a></button>
                </div>
            </div>

        </div>
    </header>
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer clearfix">
    </footer>
</div>