<div class="contentWrapper clearfix">
    <h2>{{username}}'s classes</h2>
    <div [ngSwitch]="loading">
        <div *ngSwitchCase="false">
            <div [ngSwitch]="teacher">
                <div *ngSwitchCase="true">
                    <div *ngIf="detail" class="detail clearfix">
                        <h3>{{detail.name}}</h3>
                        <div>
                            <h4>students</h4>
                            <ul>
                                <li *ngFor="let student of students">{{student.name}}</li>
                                <li class="addstudent">
                                    <livesearch (selectEvent) = addStudent(newstudent)></livesearch>
                                    <button (click)="addStudents()">Add new students</button>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h4>Tests</h4>
                            <ul>
                                <li *ngFor="let test of tests">{{test.name}}</li>
                                <li class="addstudent">
                                    <button (click)="addTest()">Add test</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tiles">
                        <ul>
                            <li *ngFor="let class of classes" class="tile">
                                <h3 class="addgroup" >{{class.name}}</h3>
                                <button class="addgroup" (click)="viewDetails(class)">View Details</button>
                            </li>
                            <li class="tile">
                                <input class="addgroup" #groupname type="text" placeholder="groupname">
                                <button class="addgroup" (click)="addGroup(groupname.value); groupname.value=''">Add group</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngSwitchCase="false">
                    <div class="tiles">
                        <ul>
                            <li *ngFor="let class of classes" class="tile">
                                <h3>{{class.name}}</h3>
                                <div *ngIf="tests">
                                    <h4>open tests</h4>
                                    <ul>
                                        <li *ngFor="let test of tests">
                                            <p>test.title</p>
                                            <button (click)="startTest(test)">Start Test</button>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="true" class="loadingwrapper">
            <loading-indicator></loading-indicator>
        </div>
    </div>

</div>