
<div class="contentWrapper">
    <h2>Dashboard</h2>
    <div [ngSwitch]="loading">
        <div *ngSwitchCase="false">
            <h2>{{username}}'s profile</h2>
            <div class="chart">
                <h3>Progress</h3>
                <canvas baseChart
                        [datasets]="graphdata"
                        [labels]="labels"
                        [options]="lineChartOptions"
                        [legend]="ChartLegend"
                        [chartType]="ChartType">
                </canvas>
            </div>
            <div class="tiles">
                <ul>
                    <li *ngFor="let item of items" class="tile">
                        <h3>{{item.title}}</h3>
                        <div>
                            <ul>
                                <li class="completed">Completed <span>{{item.completed}}</span></li>
                                <li class="average">Average <span>{{item.avarage}}</span></li>
                            </ul>
                        </div>
                        <button (click)="startNew()" class="startBtn">Start new test</button>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngSwitchCase="true" class="loadingwrapper">
            <loading-indicator></loading-indicator>
        </div>
    </div>

</div>