<div class="innerWrapper">
    <div [ngSwitch]="loading">
        <div *ngSwitchCase="false">
            <div *ngIf="setup">
                <h2>Create new exercise</h2>
                <div class ="formContent">
                    <section class="startformElement">
                        <label id="labelAmount" for="inputAmount">Amount of words in the excercise:</label>
                        <input #length type="number" min="10" max="300" value="10" class="amount" id="inputAmount">
                    </section>
                    <section class="startformElement">
                        <label id="labelLanguages" class="labelLanguages" for="languages">What do you want to practise?</label>
                        <select #ln name="languages" id="languages">
                            <option *ngFor="let l of languages" value="{{l}}">{{l}}</option>
                        </select>
                    </section>
                    <button (click)="startExercise(length,ln)" class="startBtn">Start exercise</button>
                </div>
            </div>
            <div *ngIf="curEntry">
                <h2>Test your knowledge [EN-NL]</h2>
                <div class="formContent" >
                    <section class="leftForm formElement">
                        <label id="labelword" for="inputword">{{curEntry.languages[0]}}</label>
                        <input type="text" class="form-control" id="inputword" value="{{curEntry.word}}" disabled>
                    </section>
                    <section class="rightForm formElement">
                        <label id="labelvertaling" for="inputvertaling">{{curEntry.languages[1]}}</label>
                        <input #answer type="text" class="form-control" id="inputvertaling" placeholder="Answer" value="{{curEntry.translation}}">
                    </section>
                    <p class="progress" id="progress">Progress: <span>{{ count }}</span>/{{entries.length}}</p>
                    <button (click)="next(answer)" id="btn" class="nextBtn">Next</button>
                </div>
                <button (click)="getScore()" class="resetBtn">Stop test</button>
                <script>
                    document.getElementById("btn").addEventListener('keyup',function(){
                        if(event.keyCode == 13) document.getElementById("btn").click();
                    });
                    document.getElementById("btn").addEventListener('click',function(){
                        document.getElementById('inputvertaling').val = "";
                    });
                </script>
            </div>
            <div *ngIf="score != -1">
                <h2>Your score is: {{score}}</h2>
                <button (click)="startNewTest()" class="resetBtn">Start new test</button>
            </div>
        </div>
        <div *ngSwitchCase="true" class="loadingwrapper">
            <loading-indicator></loading-indicator>
        </div>
    </div>



</div>