
<div class="contentWrapper">
    <h2>Login</h2>
    <div [ngSwitch]="loading">
        <div *ngSwitchCase="false">
            <div ngForm class="innerForm">
                <input type="text" #username class="form-control" id="username" placeholder="Username">
                <input type="password" #password class="form-control" id="password" placeholder="Password">
                <button (click)="onSubmit($event,username.value,password.value)" class="loginBtn">Login</button>
                <a [routerLink]="['/Register']" class="register">If you don't have an account signup <span>here</span></a>
            </div>
        </div>
        <div *ngSwitchCase="true" class="loadingwrapper">
            <loading-indicator></loading-indicator>
        </div>
    </div>

</div>