
<div class="contentWrapper">
    <h2>Register</h2>
    <div [ngSwitch]="loading">
        <div *ngSwitchCase="false">
            <div ngForm class="innerForm">
                <input type="text" #username class="form-control" id="username" placeholder="Username">
                <input type="password" #password class="form-control" id="password" placeholder="Password">
                <input type="password" #confirmpass class="form-control" id="confirmpass" placeholder="Confirm Password">
                <button (click)="onSubmit($event,username.value,password.value,confirmpass.value)" class="loginBtn">Register</button>
                <a [routerLink]="['/Login']" class="loginLink">If you already have an account <span>login</span>.</a>
            </div>
        </div>
        <div *ngSwitchCase="true" class="loadingwrapper">
            <loading-indicator></loading-indicator>
        </div>
    </div>

</div>