h2,h3,h4{
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    padding: 0 2rem 0 2rem;
}
h3{
    display: inline-block;
    color:#262626;
    font-size: 3rem;
    padding: 0.5rem;
    text-align: left;
}
h4{
    font-size: 2.5rem;
    color:#262626;
    text-align: left;
    margin: 1rem;
}
.detail h4{
    display: inline-block;
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 2rem;
}
.detail{
    background-color: rgba(255,255,255,0.8);
    padding:1rem;
    height: auto;

}
.detail div{
    width: 48%;
    float: left;
}
.detail ul{
    width: 80%;
    float: left;
    font-size: 2rem;
}

.detail li{
    text-align: center;
    display: block;
    color:#ffffff;
    background-color: #1565c0;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}
.addstudent{
    background-color: rgba(0,0,0,0.3) !important;
}
button {
    background-color: #1565c0;
    color:#ffffff;
    font-size: 2rem;
    float: right;
    margin: 1rem;
    padding: 0.5rem;
}
.addstudent button {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.tiles{
    width:100%;
}
.tile{

    width: 100%;
    margin-bottom:0.5rem;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    border: none;
    border-left: solid;
    border-width: thick;
    border-left-color: #1565c0;
}

.addgroup{
    width: 49%;
    height: 100%;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}