/* Wrapper */
.innerWrapper{
    display: block;
    width: 80rem;
    margin: 0 auto;
}
/* Title */
h2{
    display: block;
    color: #607D8B;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

/* resetBtn */
.resetBtn{
    float: right;
    display: block;
    border:none;
    background-color: #607D8B;
    color: #CFD8DC;
    width: 20rem;
    height: 4rem;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 5rem;
}